/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body{
  font-family: 'Open Sans', sans-serif;
}

img{
  width: 100%;
}

ul {
  list-style-type: none;
}

p{
  font-size: 15px;
  padding: 10px 0 40px 0;
  font-weight: 600;
}

span{
  font-size: 15px;
  font-weight: 600;
}
.buttons{
  padding: 6px 20px;
}

.flex-container{
  display: flex;
}

.container-large{
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
}

.container-small{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.three-col{
  justify-content: space-between;
  padding: 35px 0;
}

.col-title{
  border-bottom: 1px solid #e8e8e9;
  font-weight: 600px;
  text-align: center;
  padding: 6px 0;
}

.font-big{
  font-size: 20px;
  font-weight: 900;
  padding: 25px 0 8px 0;
}

.font-medium{
  font-size: 15px;
  font-weight: 900;
  padding: 8px 0 8px 0;
  display: block;
}
/* HEADER */
header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  
  z-index: 10;
}

header ul{
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Menus */
.header-menu li {
  margin-left: 15px;
  margin-right: 15px;
}

/* MAIN */
main{
  margin-top: 80px;
}
/* Jumbotron */
.jumbotron {
  height: 43.75rem;
  background-color: #b4d0e7;
}

.jumbotron-title h1 {
  font-size: 70px;
  padding-top: 80px;
  padding-bottom: 30px;
}

.jumbotron-text{
  width: 30%;
}

.jumbotron-img{
  position: relative;
  width: 70%;
  bottom: -0.625rem;
  right: -3.625rem;
}

.jumbotron-text a{
  text-decoration: none;
  font-weight: 600;
}

.jumbotron-text span{
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 600;
}

.jumbotron-text i{
  font-size: 36px;
  font-weight: 900;
}

/* Section */
.buy-section{
  padding-top: 200px;
}

.container-small h2{
  font-size: 38px;
  font-weight: 800;
  padding-left: 3px;
  padding-bottom: 30px;
}

.fake-toggle-full{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-color: #0161ff;
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.fake-toggle-empty{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-color: #eaeaeb;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 20px;
}

/* Buy Cols */
.buy-cols{
  width: calc((100% / 3) - 30px);
  border: 1px solid #e8e8e9;
}

.col-padding{
  padding: 0 20px;
}

.col-padding li{
  padding: 20px 0 0 0;
  font-size: 15px;

}

.col-padding li:first-child{
  padding: 60px 0 0px 0 ;

}

/* COLORS */
.bg-blue{
  border: 1px solid #0161ff;;
  background-color: #0161ff;
  color: white;
}

.color-light-grey{
  color: #6e7c8a; 
}