/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

img{
  width: 100%;
}

ul {
  list-style-type: none;
}

p{
  font-size: 15px;
  padding: 10px 0 40px;
}

span{
  font-size: 15px;
}

/* Border */
.col-border{
  border: 1px solid #e8e8e9;
}

.question-border{
  border-bottom: 1px solid #dcdcde;
}
/* Buttons */
.buttons{
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  padding: 7px 15px;
  margin-top: 4px;
  line-height: 15px;
}

/* Display */
.flex-container{
  display: flex;
}

/* Container */
.container-max{
  width: 90%;
  max-width: 1900px;
  margin: 0 auto;
}


.container-large{
  width: 80%;
  max-width: 1900px;
  margin: 0 auto;
}

.container-small{
  width: 70%;
  max-width: 1900px;
  margin: 0 auto;
}

/* Column */
.indent-col{
  justify-content: space-between;
  flex-wrap: wrap;
}

.indent-img{
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.half-col{
  width: calc((100% / 2) - 25px);
}

.three-cols{
  width: calc((100% / 3) - 40px);
}

.big-col{
  width: 70%;
}

.medium-col{
  width: 40%;
}

.medium-col2{
  width: 60%;
}

.small-col{
  width: 30%;
}

.min-col{
  width: 20%;
}

.col-title{
  border-bottom: 1px solid #e8e8e9;
  text-align: center;
  padding: 6px 0;
}

/* Font */

.font-max{
  font-size: 40px;
  font-weight: 900;
}
.font-big{
  font-size: 30px;
  font-weight: 900;
}

.font-medium{
  font-size: 18px;
  font-weight: 900;
  padding: 8px 0 8px;
  display: block;
}

.font-semi{
  font-size: 24px;
  font-weight: 700;
}

/* Arrow over */
.arrow-font{
  font-size: 60px;
  line-height: 30px;
  color: #000000;
}
/* Padding */

.padding-max{
  padding: 130px 0;
}
.padding-big{
  padding: 60px 0;
}

.padding-small{
  padding: 40px 0;
}

.padding-min{
  padding: 30px 0;
}

.col-padding{
  padding: 20px;
}

.col-padding-lat{
  padding: 0 50px;
}

/* HEADER */
header {
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  min-width: 1000px;
  
  z-index: 10;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

header a{
  text-decoration: none;
  color: inherit;
}

.hover-footer:hover{
  line-height: 80px;
  border-bottom: 2px solid black;
}

header hr{
  border: none;
  height: 1px;
  background-color: #d0d0d3;
  color: #d0d0d3;
}

header img{
  width: 130px;
  display: flex;
}

/* Nav */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* Menus */
.header-menu li {
  margin-left: 15px;
  margin-right: 15px;
  line-height: 80px;
  
}

/* MAIN */
main{
  margin-top: 80px;
}

/* Jumbotron */
.jumbotron {
  height: 43.75rem;
  background-color: #b4d0e7;
}

.jumbotron-title h1 {
  font-size: 70px;
  padding-top: 80px;
  padding-bottom: 30px;
  font-weight: 700;
}

.jumbotron-text{
  width: 30%;
}

.jumbotron-img{
  position: relative;
  max-width: 900px;
  right: -3.625rem;
  bottom: 0;

}

.jumbotron-text a{
  text-decoration: none;
}

.jumbotron-text span{
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 13px;
  font-weight: 600;
}

/*  Buy Section */
.buy-section{
  padding-top: clamp(100px, 50%, 250px);
}

.buy-section h2{
  font-size: 38px;
  font-weight: 800;
  padding-left: 3px;
  padding-bottom: 30px;
}

/* Col-padding */
.col-padding li{
  padding: 20px 0 0;
  font-size: 15px;
}

.col-padding span{
  display: block;
}

.col-padding li span{
  display: inline;
}

.col-padding hr{
  width: 60px;
  margin-bottom: 30px;
  border: none;
  height: 1px;
  background-color: #d0d0d3;
  color: #d0d0d3;
}

.col-padding-lat hr{
  width: 60px;
  margin-bottom: 30px;
  border: none;
  height: 1px;
  background-color: #d0d0d3;
  color: #d0d0d3;
}

.recap-ul li:last-child{
  padding-bottom: 120px;
}

/* Toggle */
.fake-toggle-full{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-color: #0161ff;
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.fake-toggle-empty{
  width: 20px;
  height: 20px;
  display: inline-block;
  border-color: #eaeaeb;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 20px;
}

/* Office contact column */
.small-col .buttons{
  padding: 5px 40px;
}

/* Partner contact */
.parter-content-text h3{
  padding: 50px 0 20px;
}

.parter-content-text p{
  padding: 0 0 20px;
  line-height: 28px;  
}

.partner-h2 h2 {
  font-size: 40px;
  padding-bottom: 30px;
}

/* Partners-img */
.rect{
  width: 50%;
  height: 200px;
  display: flex;
}

.rect-border{
  width: 90%;
  height: 180px;
  background-color: #a2d39b;
  display: flex;
}

.rect img{
  width: 150px;
  filter: invert(1);
}

.partner-img img{
  width: 130px;
}

/* Frequently asked */
#border-top{
  border-top: 1px solid #dcdcde;
}

.question-text i{
  align-self: center;
}

/* FONT AWSOME LIST */
.fa-ul{
  margin: 0 1.5em;
}
.fa-li{
  width: 0 -1.5em;
}

/* FOOTER */
footer{
  color: white;
}

footer h4{
  font-size: 20px;
  padding: 30px 0 20px;
}

footer li{
  font-size: 15px;
  font-weight: 500;
  padding: 5px 0;
}

footer ul{
  padding-bottom: 30px;
}

footer hr{
  width: 120px;
  margin: 50px 0;
  border: none;
  height: 1px;
  background-color: #d0d0d3;
  color: #d0d0d3;
}
footer .padding-big{
  padding: 70px;
}

footer span{
  font-size: 13px;
}

/* Lenguage */
.lenguage *{
  vertical-align: middle;
}
/* COLORS */
.bg-blue{
  border: 1px solid #0161ff;
  background-color: #0161ff;
  color: white;
}

.bg-green{
  background-color: #d0e9cd;
}

.bg-wine{
  background-color: #60092b; 
}
.bg-ciano{
  background-color: #0093ce;
}
.bg-red{
  background-color: #ff1b1c;
}
.bg-dark-red{
  background-color: #d50120;
}
.bg-dark-blue{
  background-color: #0d2481; 
}
.bg-yellow{
  background-color: #ffd830;
}
.bg-light-blue{
  background-color: #b4d0e7;
}
.bg-light-grey{
  background-color: #f5f5f5; 
}

.bg-black{
  background-color: #000000;
}

.color-light-grey{
  color: #6e7c8a; 
}

.color-blue{
  color: #2170ff;
}

.color-black{
  color: black;
}

.color-wine{
  color: #60092b;
}

.color-grey{
  color: #656565; 
}

.bg-bottons-white{
  color: inherit;
  text-decoration: none;
  background-color: white;
  border: 1px solid white;
}